*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.moviePageHeadContainer{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding: 0;
}

.headContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    /* margin: 100px 0px 50px 0px; */
    
}



.vghui{
    padding: 0;
    height: 100%;
    width: 100vw; 
    display: flex;
    /* background: linear-gradient(180deg,rgba(4,21,45,0) 0%,#04152d 79.17%); */
    /* background-color: rgba(0,0,0,0.8); 
    background-blend-mode: darken; */
    /* position: absolute;
    bottom: 0; */
    
}

.bannerImageHeadContainer{
    
    padding: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8); 
    background-blend-mode: darken;
    
}

.bannerImageJuniourContainer{
  padding: 100px 100px 20px 100px;
  display: flex;
    flex-direction: row;  
  width: 100%;
  background: linear-gradient(180deg,rgba(4,21,45,0) 0%,#04152d 79.17%) ; 
  background-blend-mode: darken;
  
}



.carousalPercentagedivv{
   
    width: 100px;
    min-width: 100px;
    border-radius: 50%;
    background-color: #fff;
    padding: 1px;
  }

@media (max-width:720px){

    .bannerImageHeadContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headContainer{
        padding: 0;
    }
}


@media (max-width:460px) {

  .swiper-slide {
    width: 136px;
    height: 316px;
  }

}

.videoTitle{
  padding: 0;
  font-size: 14px;
}
























.play-btn {
    width: 100px;
    height: 100px;
    background: linear-gradient( #f89e00 .99%, #da2f68 100%);
    /* background: #fff; */
    border-radius: 50%;
    position: relative;
    display: block;
    /* margin: 100px auto; */
    /* box-shadow: 0px 0px 25px 3px #f89e00; */
  }
  
  /* triangle */
  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  /* pulse wave */
  .play-btn:before {
    content: "";
    position: absolute;
    width: 160%;
    height: 160%;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation: pulsate1 12s;
    animation: pulsate1 12s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }

  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  } 

  .playerz div {
    padding: 0;
  }

  .playerz {
    padding: 0;
  }